body {
    background-color: #272727;
  }

  .invisibleInput {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: transparent;
    caret-color: transparent;
    position: relative;
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
  }
  
  .invisibleInput:focus::after {
    content: '_';
    color: white; 
    animation: blink 1s step-start infinite;
    position: absolute;
    right: 0;
    -webkit-animation: blink 1s 2s 2 forwards;
    -moz-animation: blink 1s 2s 2 forwards;
    -o-animation: blink 1s 2s 2 forwards;
    animation: blink 1s 2s 2 forwards;
  }

  .cursor {
    color: white;
    animation: blink 1s step-start infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  .userText{
    font-weight: normal;
  }
  

#Forum{
  position: relative;
  padding: 20vh 0 20vh 0;
  width: 100vw;
}
.tryOutHeader{
  color: #b9b9b9;
}

  
  .fakeScreen {
    min-height: 250px;
    background-color: #2d2d2d;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    background-color: #151515;
    filter:
    drop-shadow(0 0 25px rgba(174, 163, 203, 0.9))
    drop-shadow(0 0 100px #7c7c7c);
  }
  
  p {
    position: relative;
    text-align: left;
    font-size: 1.25em;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }

  .inputForm{
    background-color: #151515;
    border-style: none;
    width:50%;
  }

  .inputForm:focus{
    outline: none;
  }
  
  span {
    color: #fff;
    font-weight: bold;
  }
  
  .line1 {
    color: #9CD9F0;
    -webkit-animation: type 2s 0s steps(20, end) forwards;
    -moz-animation: type 2s 0s steps(20, end) forwards;
    -o-animation: type 2s 0s steps(20, end) forwards;
    animation: type 2s 0s steps(20, end) forwards;
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

  .responseText {
    
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid orange;
    animation: typing 4s steps(30, end), blink-caret .75s step-end infinite;
    -webkit-animation: type 2s 0s steps(20, end) forwards;
    -moz-animation: type 2s 0s steps(20, end) forwards;
    -o-animation: type 2s 0s steps(20, end) forwards;
   
  }


  .cursor1 {
    -webkit-animation: blink 1s 2s 2 forwards;
    -moz-animation: blink 1s 2s 2 forwards;
    -o-animation: blink 1s 2s 2 forwards;
    animation: blink 1s 2s 2 forwards;
  }
  
  @keyframes type {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @-webkit-keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-moz-keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-o-keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes type {
    to {
      width: 20em;
    }
  }
  
  @-moz-keyframes type {
    to {
      width: 20em;
    }
  }
  
  @-o-keyframes type {
    to {
      width: 20em;
    }
  }
  
  @keyframes type {
    to {
      width: 20em;
    }
  }