
.navStyle{
    padding-top: 0.6vh;
}

 
.buttonStyle:hover{
    box-shadow: 0px 0px 12px rgba(187, 254, 255,1);
    color: white;
}

.logo:hover{
    box-shadow: 0px 0px 12px rgba(187, 254, 255,1);

}

.buttonStyle {
    background-color: rgb(68, 60, 60);
    color: white;
}

.Copywrite{
    font-size: 9px;
    color: #b6b6b6;
}

.FooterSub{
    font-size: 14px;
}
